@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Open+Sans:wght@600;800&display=swap");

* {
  padding: 0;
  margin: 0 auto;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  font-family: "Lato";
}

img {
  max-width: 100%;
  display: block;
}

.contener {
  max-width: 1600px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.second__container {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.column {
  flex-direction: column;
  gap: 48px;
}

.heading h3 {
  font-size: 30px;
  text-align: center;
  flex-direction: column;
  font-weight: 400;
}

.heading p {
  color: #9f9f9f;
  font-size: 14px;
  margin-top: 6px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  max-width: 360px;
  background: #f8f8f8;
}

.text__Card {
  gap: 16px;
  padding: 24px 16px;
}
.text__Card h4 {
    font-size: 13px;
    background: #f8f8f8;
  }
.text__Card h3 {
    margin: 16px 0;
    color: #5d5d5d;
    font-size: 14px;
    width: 315px;
    font-weight: 300;
  }
.text__Card p {
    color: #f16d7f;
    font-size: 16px;
  }

.btn {
  margin-bottom: 60px;
  width: 212px;
  height: 48px;
  border: 1px solid #ff6a6a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
}
